body {
    margin: 0;
    padding: 0;
    background-color: cadetblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.product-container{
    margin: 15px;
    padding: 5px 16px;
}
.product-container:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.product-container img {
    width: 300px;
}

.product-add{
    transition-duration: 0.4s;
    border: none;
    text-align: center;
    font-size: 16px;
    background-color: #566ff9;
    color: white;
    border-radius: 8px;
    padding: 15px 32px;
}

.product-add:hover{
    background-color: #3a51d5;
    color: white;
}

.shopping-cart-items {
    padding: 20px 0px;
  }
  
  .shopping-cart-header {
    border-bottom: 1px solid #ccc;
  }
  
  .shopping-cart-image {
    max-width: 80px;
    border-radius: 20px;
  }
  
  .shopping-cart-quantity-input {
    max-width: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eee;
    padding: 5px;
  }
  
  .shopping-cart-total {
    min-height: 96px;
  }

  .item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 15px;
  }